<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>540058391751-3jhcm289rfi1v96t5hufu6444f35ulus.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.540058391751-3jhcm289rfi1v96t5hufu6444f35ulus</string>
	<key>API_KEY</key>
	<string>AIzaSyCwqMurwY_9n-v6J4rV2dbhRT53ZUakKoE</string>
	<key>GCM_SENDER_ID</key>
	<string>540058391751</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.brewCrew</string>
	<key>PROJECT_ID</key>
	<string>ninja-brew-crew-45280</string>
	<key>STORAGE_BUCKET</key>
	<string>ninja-brew-crew-45280.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:540058391751:ios:7a625f94acf22b1ce65ae2</string>
</dict>
</plist>